
{% extends 'base.html' %} 

{% block body %}

{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
{% else %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
{% endif %}
  {{ message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<div class="container my-5">
  <h3 class="addTodo text-center mb-4">Change Your Password</h3>
  <div>
    <form method="POST" action="/changePassword">{% csrf_token %}
    <div class="form-group">
        <label for="password">Current Password</label>
        <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Enter current Password" Required>
    </div>
    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter new Password" Required>
        <small id="password1" class="form-text text-muted">Must contain atleast 8 character. All character cannot be numeric</small>
    </div>
    <div class="form-group">
        <label for="password">Password Confirmation</label>
        <input type="password" class="form-control" name="password2" id="password2" placeholder="Renter new Password" Required>
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
    </form>
  </div>
</div>
{% endblock body %}
