
{% extends 'base.html' %}

{% block tittle %} Edit Todo {% endblock tittle %}

{% block body %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<div class = "container my-5">
<h3 class = "addTodo text-center">Edit Todo</h3>
<form method="POST" action="/editTodo/{{todo.id}}/">{% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{todo.title}}" Required>
  </div>
  <div class="form-group">
    <label for="descr">Description</label>
    <input type="text" class="form-control" id="descr" name="descr" value="{{todo.descr}}" Required>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
{% endblock body %}
